
body {
	background white-space:  fixed;
	text-align: center;
	font-family: Helvetica, sans-serif;
}
input {
	border: 2px solid white;
	font-family: Helvetica, sans-serif;
	color: #999;
}

#ratefeld {
	font-family: 'Permanent Marker', 'cursive';
	font-size: 2.0em;
}

h1 {
	font-family: 'Permanent Marker', 'cursive';
}